<h1 class="notification"> Create A <span class="orange"> New Something </span></h1>
<div class="form">
  <table>
    <tr>
      <th>Type</th>
      <th>Value</th>
    </tr>
    <tr>
      <td style="width: 150px;">Name</td>
      <td><input type="text" placeholder="Event Name"/></td>
    </tr>
    <tr>
      <td style="width: 150px;">Date</td>
      <td><input type="date"></td>
    </tr>
    <tr>
      <td style="width: 150px;">Type</td>
      <td>
        <select placeholder="Event Type">
          <option value="net">Potato</option>
          <option value="mtg">Potata</option>
          <option value="poke">Potate</option>
        </select>
      </td>
    </tr>
    <tr style="height: 150px">
      <td style="width: 150px;">Description</td>
      <td><textarea type="text" placeholder="Description"></textarea></td>
    </tr>
  </table>
  <a href="/template/show"><input class="submit" type="submit" value="Create"></input></a>
  <a href="/template"><button style="background: #b3b3b3; margin-left: 15px;">Cancel</button></a>
</div>