<div id="login-bg">
  <div class="wrap">
    <div class="avatar">
      <img src="<%= image_path('avatar.png') %>"/>
    </div>
    <input id="login-top" type="text" placeholder="Email" required/>
    <div class="bar">
      <i></i>
    </div>
    <input id="login-bottom" type="password" placeholder="Password" required/>
    <a href="/mockup-events"><button>Sign in</button></a>
  </div>
</div>