<h1 class="notification"> Create A <span class="orange"> New Event </span></h1>
<div class="form">
<%=form_tag do %>
  <table>
    <tr>
      <th>Type</th>
      <th>Value</th>
    </tr>
    <tr>
      <td style="width: 150px;">Name</td>
      <td><input type="text" placeholder="Event Name"/></td>
    </tr>
    <tr>
      <td style="width: 150px;">Date</td>
      <td><input type="date"></td>
    </tr>
    <tr>
      <td style="width: 150px;">Type</td>
      <td>
        <select placeholder="Event Type">
          <option value="">Event Type</option>
          <option value="net">Netrunner</option>
          <option value="mtg">Magic The Gathering</option>
          <option value="poke">Pokemon</option>
        </select>
      </td>
    </tr>
    <tr>
      <td style="width: 150px;">Bracket</td>
      <td>
        <select>
          <option value="">Bracket Type</option>
          <option value="nonel">Non-elimination</option>
        </select>
      </td>
    </tr>
    <tr style="height: 150px">
      <td style="width: 150px;">Description</td>
      <td><textarea type="text" placeholder="Event Description"></textarea></td>
    </tr>
  </table>
  <a href="/mockup-events"><button>Create Event</button></a>
  <a href="/mockup-events"><button style="background: #b3b3b3; margin-left: 15px;">Cancel</button></a>
<% end %>
</div>
